body {
  background-color: #2D0B0B;
}
.container {
  border: 2px solid #411010;
  margin-left: 230px;
  width: 70%;
  height: 700px;
  border-radius: 100px;
  box-shadow: inset 60px 0 120px #694F1B,
    inset -60px 0 120px #411010;
}

.container h1 {
  margin-top: 50px;
  color: #BFCE3B;
  font-size: 3.5rem;
  text-align: center;
  font-family: 'Berkshire Swash', cursive;

}

.container .todo {
  font-size: 20px;
}

.container .form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

.container .form input {
  width: 80%;
  padding: 20px;
  margin: 20px;
  font-size: 20px;
  border: 1px solid #411010;
  background-color: rgb(196, 170, 119);
  border-radius: 5px;
}

::placeholder {
  color:#411010;
}

.container .form button {
  padding: 10px;
  border: 3px solid #411010;
  font-size: 15px;
  border-radius: 10px;
}

.container .form button:hover {
  background-color: #2D0B0B;
  color: white;
  border-radius: 10px;
}

.container .search {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
}

.search input {
  width: 70%;
  padding: 8px;
  background-color: rgb(196, 170, 119);
  font-size: 20px;
  border: 1px solid #411010;
  border-radius: 5px;
}

.search button {
  margin: 5px;
  padding: 10px;
  border: 2px solid #411010;
  font-size: 15px;
  border-radius: 10px;
  width: 15%;
  text-align: center;
  background-color: #694F1B;
  color: white;
  font-weight: bold;
}

.container .search button:hover {
  background-color: #2D0B0B;
  color: white;
  border-radius: 10px;
}

.container .search button:focus,
.search input:focus {
  outline: none;
}

.container .result {
  margin-bottom: 10px;
}

.container .list {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  text-align: left;
}

.submit-btn {
  height: 68px;
  margin-top: 20px;
  background-color: #694F1B;
  color: white;
}

.content-wrapper {
  width: 90%;
  margin-left: 50px;
  margin-top: 110px;
}

.list {
  color: white;
}
