.App {
  text-align: center;
  border-radius: 100px;
  margin-top: 20px;
  height: 700px;
  width: 600px;
  box-shadow: 5px 10px 80px 30px #60207E inset;
  background-color: #297AA3;
}
.container {
  display: flex;
  justify-content: center;
}

body {
  background-color: #2E2E2E;
}

.true {
  text-decoration: line-through;
  text-decoration-color: black;
}

.todo-list {
  color:  rgb(122, 214, 36);
  margin-bottom: 70px;
}

.todo-btn {
  color: rgb(77, 189, 245);
  background-color: #60207E;
  border: 3px solid rgb(122, 214, 36);
  border-radius: 15px;
  width: 180px;
  height: 40px;
  margin-top: 50px;
  margin-bottom: 60px;
  font-weight: bold;
}

.add-btn {
  color: rgb(77, 189, 245);
  font-weight: bold;
  background-color: #60207E;
  border: 3px solid rgb(122, 214, 36);
  border-radius: 10px;
  width: 90px;
  margin-left: 20px;
  padding: 4px;
}

h1 {
  margin-top: 50px;
  color: rgb(122, 214, 36);
  font-family: 'Berkshire Swash', cursive;
}

::placeholder {
  color:  #60207E;
  font-weight: bold;
}